_site/
files/mihoc_resume.aux 
files/mihoc_resume.log   
files/mihoc_resume.out
files/mihoc_resume.tex    
files/mihoc_resume.synctex.gz
preamble.tex 
index.html~    
index.pdf
index.tex               
      